<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>V6 Ansible automation</h1>
<form>
    <label>Playbook</label>
        <select name="playbook" id="playbook">
        <option value="jmc.yml">jmc</option>
        <option value="test1.yml">test1</option>        
      </select><br/>
    <label>Target</label>
      <select name="target" id="target">
      <option value="dev1">dev1</option>
      <option value="dev2">dev2</option>        
    </select><br/>
    <input type="submit" value="Execute"></input>
</form>
</body>
</html>